<h1>Listing problems</h1>

<div class="new">
  <%= link_to 'Add New Problem', new_problem_path, :class => "new" %>
</div>


<%= render @problems %>

<div class="new">
  <%= link_to 'Add New Problem', new_problem_path, :class => "new" %>
</div>
