.problem {
    a {
      color: #00C;
      padding: 4px;
      &:hover {
        color: #fff;
      };
    }
  
  width: 490px;

  .controls {
    float: right;
  }
  
  &.pending {
    background: #F7F7F7;
  }
  
  &.solved {
    background: #CFC;
    border: 1px solid #6C6;
    a { color: black; &:hover { color: white; } }
  }
  
  &.tried {
    background: #FCC;
    border: 1px solid #C66;
    a { color: black; &:hover { color: white; } }
  }
  
  .notes {
    display: none;
    padding-top: 10px;
  }
}

.new {
    margin-top: 14px;
}